<p>Test</p>
<div>
    <p>{{posts.title}} Created on {{posts.createdAt}} by {{posts.User.name}}</p>
    <p>{{posts.contents}}</p>
</div>
<div>
    <div>
        <p>Comments:</p>
        {{#each posts.Comments as |comment|}}
        <p>{{comment.User.name}} commented:</p>
        <p>{{comment.contents}}</p>
        {{/each}}
    </div>

    {{#if loggedIn}}
    <form class="comment-form">

        <div class="new-comment">

            <div>
                <label for="comment-text">Leave a Comment</label>
                <textarea id="comment-text" rows="5" cols="70"></textarea>
            </div>

            <div>
                <button type="submit">Add Comment</button>
            </div>

        </div>

    </form>    

        {{!-- link script --}}
        <script scr="/js/comment.js"></script>
        {{else}}
        <a href="/login">Login</a>
        {{/if}} 
</div>