
<div class="card">
    <div class="card-body">
        <h6 class="card-title">{{posts.title}} Created on {{posts.createdAt}} by {{posts.User.name}}</h6>
        <p class="card-text">{{posts.contents}}</p>
    </div>
</div>

<div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Comments:</h5>
            {{#each posts.Comments as |comment|}}
            <h6>{{comment.User.name}} commented:</h6>
            <p>{{comment.contents}}</p>
            {{/each}}
        </div>    
    </div>

    {{#if loggedIn}}
    <form class="comment-form">

        <div class="new-comment form-label">

            <div>
                <label for="comment-text">Leave a Comment</label>
                <textarea class="form-control" id="comment-text" rows="5" cols="70"></textarea>
            </div>

            <div>
                <button class="btn btn-primary" type="submit">Add Comment</button>
            </div>

        </div>

    </form>    

        {{!-- link script --}}
        <script src="/js/comment.js"></script>
        {{else}}
        <a href="/login">Login</a>
        {{/if}} 
</div>