<div>
    <div class="post-div">
        <div>
            <h2>{{post.title}}</h2>
        </div>
        {{!-- display a single post --}}
        <div>
            <p>
                Created by: {{!-- display username of post creator --}} on {{post.createdAt}}
            </p>
        </div>
        <div>
            <p>
                {{post.contents}}
            </p>
        </div>
    </div>

    <div class="comment-div">
        <div>
            <div>
                <p>Created by {{!-- add username --}} on {{comments.createdAt}}</p>
            </div>
            {{!-- show existing comments for the post --}}
            <div>
                <p>{{comment.contents}}</p>
            </div>
        </div>
            {{!-- add an option to leave a comment --}}
        <div>
            <a href="newComment">Add a comment</a> 
        </div>
    </div>    
</div>